.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 20px;
  }
  
  .project {
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
  }
  
  .project-image {
    width: 100%;
    height: auto;
    max-width: 350px;
    object-fit: cover;
    border: solid 2px black;
    border-radius: 4px;
    transition: opacity 0.3s ease-in-out;
  }
  
  .project-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
    color: black;
  }
  
  .project-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .repo-icon {
    font-size: 2.5rem;
    color: #111111;
    transition: color 0.3s ease, transform 0.3s ease;
    animation: pulse 1.5s infinite ease-in-out;
    cursor: pointer;
  }
  
  .repo-icon:hover {
    color: #ffd700;
    transform: scale(1.2);
  }

  /* Animation for the GitHub icon */
    @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .project:hover .project-image {
    opacity: 0.3;
  }
  
  .project:hover .project-info {
    opacity: 1;
  }

/* Resonsive design */

@media (max-width: 1024px) {
  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr); /* Two columns for tablets */
  }
  .project-title {
    font-size: 1rem;
  }
  .repo-icon {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .portfolio-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  .project-title {
    font-size: 1rem;
  }
  .repo-icon {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .portfolio-grid {
    grid-template-columns: 1fr; /* Single column for small devices */
  }
  .project-image {
    max-width: 100%; /* Make sure images take full width */
  }
  .project-title {
    font-size: 0.9rem;
  }
  .repo-icon {
    font-size: 1.8rem;
  }
}
